@page
@model CdSkivorUppgift.Pages.Records.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                
                <input asp-for="Record.ArtistName" class="form-control" placeholder="Artist Name" />
                <label asp-for="Record.ArtistName" class="control-label"></label>
                <span asp-validation-for="Record.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Record.AlbumName" class="form-control" placeholder="Album Name" />
                <label asp-for="Record.AlbumName" class="control-label"></label>
                
                <span asp-validation-for="Record.AlbumName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Record.ReleaseDate" class="form-control" placeholder="Release Date" />
                <label asp-for="Record.ReleaseDate" class="control-label" ></label>
                
                <span asp-validation-for="Record.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Record.RecordCompany" class="form-control" placeholder="Record Company" />
                <label asp-for="Record.RecordCompany" class="control-label"></label>
                <span asp-validation-for="Record.RecordCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success my-2" />
            </div>
        </form>
    </div>
</div>

<i class="fa-solid fa-rotate-left"></i> <a class="link-info" asp-page="Index">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
